@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.hero {
    padding: 1em 6em;
    background-color: #0a0a0b;
    color: whitesmoke;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-size: 1.9rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo:hover {
    cursor: pointer;
}
ul {
    display: flex;
}
ul li:hover {
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
ul li {
    padding: 1em;
    list-style-type: none;
}
button {
    padding: 1em 2em;
    border: 1px solid black;
    background-color: yellowgreen;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    letter-spacing: 1px;
}

.heading {
    width: 40%;
    margin: 5em 0px;
}
.heading h1 {
    font-size: 2rem;
}
.heading p {
    font-size: 1rem;
    text-align: justify;
    margin: 1em 0px;
}
.company_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em 0em;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.spense_page {
    text-align: start;
}
.spense_page p {
    width: 90%;
    margin: 1em 0em;
    text-align: justify;
}
.yelp_page p {
    width: 90%;
    margin: 1em 0em;
    text-align: justify;
}
.community {
    padding: 5% 6%;
    background-color: #2e3038;
    color: whitesmoke;
    columns: 2;
    letter-spacing: 1.1px;
    text-align: justify;
    column-gap: 50px;
}
.community p {
    margin: 1em 0em;
}
.interest {
    padding: 5% 6%;
    background-color: #0a0a0b;
    color: white;
}

.interest p {
    margin: 1em 0em;
    width: 40%;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 1.1px;
}
footer {
    display: flex;
    padding: 1% 6%;
    align-items: ;
    justify-content: space-between;
    background-color: #2e3038;
}
footer h2 {
    color: whitesmoke;
}
.social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_icon img {
    padding: 0em 0.3em;
}
